/*Classe utilizada nos textsfields com a finalidade de economida de escrita e padronização*/
.text-field-modelo-mm .MuiInputLabel-root {
  color: #919eab !important;
}

.text-field-modelo-mm .MuiInputLabel-root.Mui-focused {
  color: #22C55E !important;
}

.text-field-modelo-mm .MuiFormLabel-asterisk {
  color: #919eab !important;
}

.text-field-modelo-mm .MuiOutlinedInput-root {
  border-radius: 8px !important;
}

.text-field-modelo-mm .MuiOutlinedInput-root fieldset {
  border-color: #919eab !important;
}

.text-field-modelo-mm .MuiOutlinedInput-root:hover fieldset {
  border-color: #22C55E !important;
}

.text-field-modelo-mm .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #22C55E !important;
}
.text-field-modelo-mm .MuiPickersInputBase-root {
  border-radius: 8px !important;
}

.text-field-modelo-mm .MuiPickersInputBase-root fieldset {
  border-color: #919eab !important;
}

.text-field-modelo-mm .MuiPickersInputBase-root:hover fieldset {
  border-color: #22C55E !important;
}

.text-field-modelo-mm .MuiPickersInputBase-root.Mui-focused fieldset {
  border-color: #22C55E !important;
}